/* початок стилів скидання для сторінки */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

hr {
    margin: 0;
}

button {
    background-color: transparent;
    padding: 0;
    border: none;
}

/* кінець стилів скидання для сторінки */
html {
    background-color: #0C122C;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url(./images/bg-desktop.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center bottom;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 30px;
    border: 1px solid red;
    position: relative;

    .control {
        width: 350px;
        height: 201px;
        background: #1E2D69;
        box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24776);
        border-radius: 10px 100px 10px 10px;
        padding: 40px;

        img {
            margin-bottom: 33px;

        }

        div {
            display: flex;
            gap: 16px;

            button {
                width: 48px;
                height: 48px;
                background-color: #0C122C;
                border-radius: 10px;
                background-repeat: no-repeat;
                background-position: center center;
                transition: all 0.5s ease;
            }

            button:hover {
                background-color: #353e68;
                transform: rotate(30deg);

            }

            button:nth-child(1) {
                background-image: url(./images/icon-document.svg);

            }

            button:nth-child(2) {
                background-image: url(./images/icon-folder.svg);

            }

            button:nth-child(3) {
                background-image: url(./images/icon-upload.svg);

            }
        }
    }

    .info {
        width: 540px;
        height: 154px;
        background: #1E2D69;
        box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24776);
        border-radius: 10px;
        padding: 40px;

        .left {
            position: absolute;
            right: 7.41%;
            top: 0%;
            width: 179px;
            height: 72px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #FFFFFF;
            box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24776);
            border-radius: 10px 10px 0px 10px;

            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            text-align: right;
            letter-spacing: 1px;
            color: rgba(12, 18, 44, 0.5);

            /* opacity: 0.5; */
            span {
                font-size: 40px;
                color: rgba(12, 18, 44, 1);

            }
        }

        .left::after {
            content: '';
            display: block;
            /* background-color: red; */
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translateY(100%);

            /* width: 200px; */
            /* height: 200px; */
            width: 22px;
            height: 22px;
            background-color: transparent;
            border-width: 11px;
            border-style: solid;
            border-top-color: white;
            border-right-color: white;
            border-bottom-color: transparent;
            border-left-color: transparent;
            /* border-bottom-color: red;
             border-top-color: red; */
            /* border-top-color: green;
            border-right-color: transparent;
            border-bottom-color: green;
            border-left-color: green; */
            /* width: 44px;
            height: 22px;
            border-top-color: red; */
        }

        p {
            font-size: 14px;
            line-height: 16px;

            color: #DBD9FF;

            span {
                font-weight: 700;
            }


        }

        .line {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            position: relative;
            color: #DBD9FF;
            height: 20px;
            background: rgba(12, 18, 44, 0.5);
            /* opacity: 0.5; */
            border-radius: 10px;
            margin-top: 16px;
            padding: 3px;

            .used {
                /* width: 340px; */
                width: 81.5%;
                height: 14px;
                background: linear-gradient(90deg, #FFA197 0%, #FF4A95 100%);
                border-radius: 8px;
                padding: 2px;
                span {
                    width: 10px;
                    height: 10px;
                    background: #FFFFFF;
                    display: block;
                    border-radius: 50%;
                    margin-left: auto;
                }
            }
        }

        .line::before {
            content: '0 GB';
            position: absolute;
            top: calc(100% + 8px);
            left: 0;

        }

        .line::after {
            content: '1000 GB';
            position: absolute;
            top: calc(100% + 8px);
            right: 0;
        }
    }


}